<div class="page-ft">
  <div class="w1200">
      <!-- <div class="logos">
        <b>日常百科</b><br>
        快乐生活，健康成长
      </div> -->
      <div class="richang">
        <div><a href="">关于我们 ABOUT US｜</a<a href="">联系我们 CONTACT｜</a><a href="">招聘及广告服务 ADVERTISE｜</a><a href="">免责声明 PRIVACY｜</a><a href="">移动应用 MOBILE</a></div>
        <div>TOPYS.CN 深圳市看见文化传播有限公司 2003-2015 ALL RIGHTS RESERVED. ｜ 粤ICP备06047857号</div>
      </div>
  </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
