<div class="page-ft">
  <div class="w1200">
      
      <div class="richang">
        <div>Copyright © 2015-2017 RICHANGBAIKE.COM - 日常百科 - 发现生活美 - 湘ICP备17001451号</div>
        <div></div>
      </div>
  </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
