<div class="page-head">
	<div class="w1200">
		<div class="logo"><a href="/" title="日常百科"><img src="/img/logo.png" alt="日常百科"></a></div>
		<ul class="nav outer">
			<li><a href="/">首页</a></li>
			<li><a href="/list?classId=1">生活常识</a></li>
			<li><a href="/list?classId=2">健康养生</a></li>
			<li><a href="/list?classId=3">休闲娱乐</a></li>
		</ul>
		<div class="so">
			<form class="h-search-form" action="/index/search">
                <input type="text" class="" name="search" placeholder="输入您要搜索的内容...">
                <button class="search-btn"><i class="iconfont">&#xe651;</i></button>
            </form>
		</div>
	</div>
</div>