@import url('/css/common.css');


.page-body{
	
}
.page-body .h3{
	font-size: 22px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.bd-left {
	width: 893px;
	float: left;
}
.bd-left li {
	width: 280px;
	background: #fff;
	float: left;
	height: 310px;
	margin-right: 17px;
	margin-bottom: 17px;
	border-radius: 3px;
}
.bd-left li img {
	width: 280px;
	height: 210px;
	border-radius: 3px 3px 0 0;
}
.bd-left li .title {
	font-size: 16px;
	width: 260px;
    height: 45px;
    margin: 15px 0 0 12px;
    word-wrap: break-word;
}
.bd-left li .title a:hover {
	text-decoration: underline;
    color: #ff5252;
}
.bd-left li .tool {
	height: 17px;
    padding: 10px 0 10px 0;
    position: relative;
}
.bd-left li .tool span {
	margin-left: 10px;
	color: #999;
}
.bd-left li .tool label{
	position: absolute;
	right: 10px;
}
.bd-left li:hover{
	box-shadow: 0px 8px 10px #ccc;
}
.bd-right {
	float: right;
	right: 0;
	width: 280px;
	top: 0;
}