@import url('/css/common.css');


.page-body{
	
}
.page-body .h3{
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.page-body .twoClass {
	margin: 30px 0 30px 0;
	font-size: 14px;
}
.page-body .twoClass a {
	margin-right: 10px;
	padding: 5px 15px;
	border-radius: 20px;
	display: inline-block;
	color: #747474;

}
.page-body .twoClass a.act, .page-body .twoClass a:hover{
	background: #fff;
	color: #ff5252;
}
.bd-left {
	width: 893px;
	float: left;
}
.bd-left ul {
	
}
.bd-left li {
	width: 280px;
	background: #fff;
	float: left;
	height: 310px;
	margin-right: 17px;
	margin-bottom: 17px;
	border-radius: 3px;
}
.bd-left li img {
	width: 280px;
	height: 210px;
	border-radius: 3px 3px 0 0;
}
.bd-left li .title {
	font-size: 14px;
	width: 260px;
    height: 45px;
    margin: 15px 0 0 12px;
    word-wrap: break-word;
    overflow: hidden;
}
.bd-left li .title a:hover {
	text-decoration: underline;
    color: #ff5252;
}
.bd-left li .tool {
	height: 17px;
    padding: 10px 0 10px 0;
    position: relative;
}
.bd-left li .tool i{
	margin-right: 5px;
}
.bd-left li .tool .xh {
	margin-left: 15px;
}
.bd-left li .tool .xh i{
	font-size: 14px;
}
.bd-left li .tool span {
	margin-left: 10px;
	color: #999;
}
.bd-left li .tool label{
	position: absolute;
	right: 10px;
}
.bd-left li:hover{
	box-shadow: 0px 8px 10px #ccc;
}
.bd-left .page{
	text-align: center;
	margin-top: 30px;
}
.bd-left .page a {
	background: #F9F9F9;
	padding: 10px 20px;
	border-radius: 3px;
	display: inline-block;
	font-size: 14px;
	margin-left: 25px;
}
.bd-left .page a:hover{
	background: #ff5252;
	color: #fff;
}

.bd-right {
	float: right;
	right: 0;
	width: 300px;
	top: 0;
}
