@import url('../font/iconfont.css');
body{
	font-size: 12px;
	color: #444;
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	background: #ededef;
}
body, p, ul, ol, h1, h2, h3, h4, h5{
	margin: 0;
	padding: 0;
}
li{
	list-style: none
}
a{
	color: #444;
	text-decoration: none;
}
img{
	border: 0;
}
.w1200{
	width: 1200px;
	margin: 0 auto;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.overflow-hidden{
	overflow: hidden;
}
.cursor {
	cursor: pointer;
}

.outer {zoom:1;}   
.outer :after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}
.clear{ clear:both} 

body{
	background: #e9e9e9;
}
.page-head {
	background: #fff;
	height: 75px;
	box-shadow: 5px 0 10px #ccc;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.page-head .w1200 {
	position: relative;
}
.page-head .logo, .page-head .nav, .page-head .so {
	position: absolute;
}
.page-head .logo {
	top: 26px;
	left: 0px;
}
.page-head .nav {
	top: 30px;
    left: 160px;
}
.page-head .nav li {
	float: left;
	font-size: 16px;
	margin: 0 40px 0 0;
}
.page-head .nav li a {
	color: #606060;
	display: block;
}
.page-head .nav li a:hover {
	color: #333;
}
.page-head .so{
	right: 0;
	top: 23px;
}
.page-head .so input{
	background: #E9E9E9;
	border-radius: 5px;
	padding-left: 10px;
	border:0;
	height: 33px;
	width: 190px;
}
.page-body{
	padding-top: 75px;
}

.h-search-form{
	cursor: pointer;
	position: relative;
}
.search-btn {
	position: absolute;
	top: 11px;
	right: 3px;
	border: 0;
	background: #E9E9E9;
	cursor: pointer;
}
.search-btn i{
	color: #666;
}

.page-ft {
	background: #fff;
	margin-top: 50px;
}
.page-ft .logos {
	padding-top: 30px;
	color: #666;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 10px;
}
.page-ft .logos b {
	font-weight: 100;
	font-size: 22px;
}
.richang {
	text-align: center;
	line-height: 22px;
	padding: 50px 0 20px 0;
	color: #666;
}
.richang a {
	color: #666;
}

/*热门文章*/
.bd-right .hotword {
	background:#fff;
	border-radius: 5px;
}
.bd-right .hotword .hd{
	padding: 15px 10px 10px 10px;
	font-size: 14px;
}
.bd-right .hotword .bd{

}
.bd-right .hotword .bd li{
	margin: 0 10px;
	border-top: solid #eee 1px;
	padding: 10px 0;
	position: relative;
}
.bd-right .hotword .bd li .text {
	position: absolute;
	top: 15px;
	left: 110px;
	height: 70px;
	padding-right: 5px;
}
.bd-right .hotword .bd li .text span{
	position: absolute;
	bottom: 0;
	left: 2px;
	color: #999;
}
.bd-right .hotword .bd li .text a:hover{
	color: #ff5252;
}
.bd-right .hotword .bd img{
	width: 100px;
	border-radius: 3px;
	height: 80px;
}
.loading {
	text-align: center;
	line-height: 100px;
}