@import url('../font/iconfont.css');
body{
	font-size: 12px;
	color: #444;
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	background: #ededef;
}
body, p, ul, ol, h1, h2, h3, h4, h5{
	margin: 0;
	padding: 0;
}
li{
	list-style: none
}
a{
	color: #444;
	text-decoration: none;
}
img{
	border: 0;
}
.w1200{
	width: 1200px;
	margin: 0 auto;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.overflow-hidden{
	overflow: hidden;
}
.cursor {
	cursor: pointer;
}

.outer {zoom:1;}   
.outer :after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}
.clear{ clear:both} 

body{
	background: #e9e9e9;
}
.page-head {
	background: #fff;
	height: 75px;
	box-shadow: 5px 0 10px #ccc;
	position: fixed;
	width: 100%;
}
.page-head .w1200 {
	position: relative;
}
.page-head .logo, .page-head .nav, .page-head .so {
	position: absolute;
}
.page-head .logo {
	top: 26px;
	left: 0px;
}
.page-head .nav {
	top: 30px;
    left: 160px;
}
.page-head .nav li {
	float: left;
	font-size: 16px;
	margin: 0 40px 0 0;
}
.page-head .nav li a {
	color: #606060;
	display: block;
}
.page-head .nav li a:hover {
	color: #333;
}
.page-head .so{
	right: 0;
	top: 23px;
}
.page-head .so input{
	background: #E9E9E9;
	border-radius: 5px;
	padding-left: 10px;
	border:0;
	height: 33px;
	width: 190px;
}
.page-body{
	padding-top: 75px;
}