<!DOCTYPE html>
<html class="fyf">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/js/lib/bootstrap/css/bootstrap.min.css">
    <style type="text/css">
    body{
      font-size: 12px;
    }
    .course-nav {
      margin-bottom: 10px;
    }
    .course-nav b{
      float: left;
    }
    .course-nav .bd{
      
    }
    .course-nav .bd a{
      margin-left: 10px;
      color: #333;
      padding: 3px 8px;
      border-radius: 3px;
    }
    .course-nav .bd a.act{
      background: #5cb85c;
      color:#fff;
    }
    .course-nav .bd span{
      margin-left: 10px;
      color: #428bca;
     
      cursor: pointer;
    }
    iframe{
      width: 100%;
      border: 0;
      height: 500px;
    }
    .form-control {
      width: 185px !important;
      margin-right: 5px;
    }
    </style>
</head>
<body>

 <% include ./common/nav.ejs %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div id="className" class="course-nav">
        <b>一级分类：</b>
        <div class="bd">
          <a href="/admin/list" class="act" target="iframe">全部</a>
          <%for(var i=0;i<data.length; i++){%>
            <a href="/admin/list" target="iframe" data-id="<%=data[i].id%>"><%=data[i].name%></a>
          <%}%>
          <span id="addClass">添加分类</span>
        </div>
      </div>
      <div id="classTwoName" class="course-nav" style="display:none">
        <b>二级分类：</b>
        <div class="bd">
          
        </div>
      </div>
    </div>
  </div>
<iframe name="iframe" src="/admin/list"></iframe>

<% include ../include/ft.ejs %>
<script src="/js/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/conf/admin/index.js"></script>
</body>
</html>