<!DOCTYPE html>
<html class="fyf">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/index/index.css">
</head>
<body>
	<% include include/nav.ejs %> 
	
  	<div class="w1200 page-body">
  		<div class="h3">最新内容</div>

  		<ul class="bd-left">
        <%for(var i=0, len=data.length; i<len; i++){%>
  			<li>
          <div><a href=""><img src="<%= data[i].img%>"></a></div>
          <div class="title"><a href=""><%= data[i].title%></a></div>
          <div class="tool">
            <span>271</span> <span>100</span>
            <!-- <label>2016-12-07 18:36:56</label> -->
          </div>
        </li>
        <%}%>
  		</ul>
  		
  		<div class="bd-right">
  			<div style="height:200px;background: #fff">

  			</div>
  		</div>
  	</div>
    
    <% include include/ft.ejs %>
    <script>
		require(['conf/index/index']);
    </script>
</body>
</html>