<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/index/index.css">
</head>
<body>
	<% include include/nav.ejs %> 
	
  	<div class="w1200 page-body">
      <div class="bd-left">
        
      </div>
  		
  		<div class="bd-right">
  			<div class="hotword">
          <div class="hd">热门文章</div>
          <ul class="bd">
            <li>
              <img src="http://www.topys.cn/attachments/1612/19/5857aff2a313c.png"/>
              <div class="text">
                <a href="#">一个时代的记忆，超级马里奥推真人版宣传片</a>
                <span>2012-01-12</span>
              </div>
            </li>
            <li>
              <img src="http://www.topys.cn/attachments/1612/19/5857aff2a313c.png"/>
              <div class="text">
                <a href="#">一个时代的记忆，超级马里奥推真人版宣传片</a>
                <span>2012-01-12</span>
              </div>
            </li>
            <li>
              <img src="http://www.topys.cn/attachments/1612/19/5857aff2a313c.png"/>
              <div class="text">
                <a href="#">一个时代的记忆，超级马里奥推真人版宣传片</a>
                <span>2012-01-12</span>
              </div>
            </li>
            <li>
              <img src="http://www.topys.cn/attachments/1612/19/5857aff2a313c.png"/>
              <div class="text">
                <a href="#">一个时代的记忆，超级马里奥推真人版宣传片</a>
                <span>2012-01-12</span>
              </div>
            </li>
            <li>
              <img src="http://www.topys.cn/attachments/1612/19/5857aff2a313c.png"/>
              <div class="text">
                <a href="#">一个时代的记忆，超级马里奥推真人版宣传片</a>
                <span>2012-01-12</span>
              </div>
            </li>
          </ul>
  			</div>
  		</div>
      <div class="clear"></div>
  	</div>
    <div class="page-ft">
      <div class="w1200">
        123
      </div>
    </div>
    <% include include/ft.ejs %>
    <script>
		require(['conf/index/index']);
    </script>
</body>
</html>